:root {
    --color-dark-blue: #2f3e6b;
}

html {
    direction: ltr;
}

header nav {
    background-color: var(--color-dark-blue);
}

*.text-right,
*.text-md-right {
    align-items: flex-start !important;
    text-align: left !important;
}

div.position-relative.text-white {
    width: 100%;
}

div.navbar-brand {
    align-self: flex-end;
}

nav .active .nav-link {
    background-color: #bdbfc559;
    border-radius: 5px;
}

a:hover {
    background-color: #bdbfc559;
    border-radius: 5px;
}

a.nav-link.text-white {
    margin-right: 10px;
}


/* #articles div div:hover,
#categories div:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(194, 194, 194, 0.5);
} */

a:hover {
    text-decoration: none;
}

.card-title {
    color: var(--color-dark-blue);
    font-size: 19px;
}

.card-header-cat {
    border-bottom: 2px solid var(--color-dark-blue);
}

.card-header-topics {
    border-bottom: 2px solid;
}

.card-img-top {
    filter: brightness(0.8);
    object-fit: cover;
}

.topleft {
    top: 3px;
    right: 8px;
}

.topright {
    top: 3px;
    left: 8px;
    font-size: 12px;
    background-color: rgb(248, 82, 82);
}

.bottomleft {
    bottom: 8px;
    right: 8px;
    background-color: rgba(75, 164, 236, 0.356);
}

.bottomright {
    bottom: 8px;
    left: 8px;
}

.img-badge {
    bottom: 40%;
    left: 0%;
}

.card-text {
    color: rgb(184, 183, 183);
}

.centered {
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-img {
    filter: brightness(0.5);
}

.bottomleft-categories {
    bottom: 8px;
    right: 8px;
    background-color: rgb(36, 164, 187);
}

footer a {
    font-size: 16px;
}

.social-icon {
    color: transparent;
}

.center-right {
    top: 30%;
    left: 16px;
    font-size: 18px;
}

.center-left {
    top: 20%;
    right: 16px;
    font-size: 18px;
}

#editorial-team a:hover {
    background-color: transparent;
}

#editorial-team div .row {
    border-color: rgb(167, 166, 166);
}

#editorial-team p {
    color: rgb(179, 179, 179);
    font-size: 11px;
}

#editorial-team p.mb-1 {
    font-size: 13px;
}

h4.card-title {
    min-height: 2.5em;
}

.page-item a {
    color: black;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #ccc;
}

.ordered-list ol {
    counter-reset: item;
    padding-left: 10px;
}

.ordered-list li:before {
    content: counters(".") " ";
    counter-increment: item
}

div.col-12.col-md-4.mb-3.mb-md-0 {
    padding-left: 0px;
}

.header img.w-75 {
    float: right;
}

@media screen and (max-width: 650px) {
    .carousel-caption h4 {
        font-size: 18px;
    }
    .centered {
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 760px) {
    .img-badge {
        bottom: 40%;
        left: 30%;
    }
    .header img.w-75 {
        float: left;
    }
    *.text-right,
    *.text-md-right {
        align-items: flex-start !important;
        text-align: center !important;
    }
}

@media screen and (max-width: 540px) {
    .carousel-caption h4 {
        font-size: 16px;
    }
    .centered {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .center-right h5 {
        font-size: 16px;
    }
}

@media screen and (max-width: 420px) {
    .carousel-caption h4 {
        font-size: 14px;
    }
    .centered {
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}